<%= form_for(@band, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @band.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h4>

      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :band_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :band_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :genre, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :genre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :venue_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :venue_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
