<div class="page-header">
  <%= link_to bands_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_band_path(@band), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show band</h1>
</div>

<dl class="dl-horizontal">
  <dt>Band name:</dt>
  <dd><%= @band.band_name %></dd>

  <dt>Genre:</dt>
  <dd><%= @band.genre %></dd>

  <dt>Email:</dt>
  <dd><%= @band.email %></dd>

  <dt>Phone number:</dt>
  <dd><%= @band.phone_number %></dd>

  <dt>Home town:</dt>
  <dd><%= @band.home_town %></dd>

  <dt>Facebook:</dt>
  <dd><%= @band.facebook %></dd>

  <dt>Soundcloud:</dt>
  <dd><%= @band.soundcloud %></dd>

  <dt>Reverbnation:</dt>
  <dd><%= @band.reverbnation %></dd>

  <dt>Band camp:</dt>
  <dd><%= @band.band_camp %></dd>

  <dt>Venue:</dt>
  <dd><%= @band.venue_id %></dd>

</dl>
