<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li>
      Signed in as <%= current_user.email %>
    </li>
    <li>
      <%= link_to 'Logout', logout_path, method: :delete %>
    </li>
  <% else %>
    <li> <%= link_to 'Login', login_path %></li>
    <li> <%= link_to 'Signup Band', new_band_path %></li>
    <li><%= link_to 'Signup Venue', new_venue_path %></li>
  <% end %>
</ul>
