<h1>Listing members for <%= @band.band_name %></h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Instrument</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.full_name %></td>
    <td><%= member.instrument %></td>
    <td><%= link_to 'Show', [member.band, member] %></td>
    <td><%= link_to 'Edit', edit_band_member_path(member.band, member) %></td>
    <td><%= link_to 'Destroy', [member.band, member], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_band_member_path(params[:band_id]) %>
